<!DOCTYPE html>
<html lang="en">
<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  {% load staticfiles %}
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.css' %}"/>
</head>
<body>
  <!-- jQuery first, then Tether, then Bootstrap JS. -->
  <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>

  <nav class="navbar navbar-toggleable-md navbar-inverse bg-inverse">
    <div class="container">
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <a class="navbar-brand" href="#">User Dashboard</a>
      <div class="collapse navbar-collapse justify-content-end" id="navbarCollapse">
        <ul class="navbar-nav">
          <li class="nav-item active">
            <form class="form-inline" action="/users/login" method="post">
              {% csrf_token %}
              <input type="text" name="email" class="form-control mb-2 mr-sm-2 mb-sm-0" placeholder="email">
              <input type="password" name="password" class="form-control mb-2 mr-sm-2 mb-sm-0" placeholder="password">
              <input type="submit" class="btn btn-primary" value="Login">
            </form>
          </li>
        </ul> <!-- navbar-nav -->
      </div> <!-- collapse -->
    </div> <!-- container -->
  </nav>
  <br>
  <div class="container">
    <div class="row">
      <div class="col">
        <h2>Welcome to the Dashboard</h2>
        <ul>
          <li>Manage Users</li>
          <li>Leave Messages</li>
          <li>Edit User information</li>
        </ul>
      </div>
      <div class="col">
        <form action="/users/create" method="post">
          {% csrf_token %}
          <div class="row">
            <h2>Sign Up</h2>
          </div>
          <div class="form-group row">
            <input type="text" class="form-control" name="first_name" placeholder="First name">
            {% for message in messages %}
              {% if message.extra_tags == 'first_name' %}
                <span class="red">{{ message }}</span>
              {% endif %}
            {% endfor %}
          </div>
          <div class="form-group row">
            <input type="text" class="form-control" name="last_name" placeholder="Last name">
            {% for message in messages %}
              {% if message.extra_tags == 'last_name' %}
                <span class="red">{{ message }}</span>
              {% endif %}
            {% endfor %}
          </div>
          <div class="form-group row">
            <input type="text" class="form-control" name="email" placeholder="Email">
            {% for message in messages %}
              {% if message.extra_tags == 'email' %}
                <span class="red">{{ message }}</span>
              {% endif %}
            {% endfor %}
          </div>
          <div class="form-group row">
            <input type="password" class="form-control" name="password" placeholder="Password">
            {% for message in messages %}
              {% if message.extra_tags == 'password' %}
                <span class="red">{{ message }}</span>
              {% endif %}
            {% endfor %}
          </div>
          <div class="form-group row">
            <input type="password" class="form-control" name="confirm" placeholder="Confirm password">
          </div>
          <div class="row">
            <input type="submit" class="btn btn-success" value="Create Account">
          </div>
        </form>
      </div>
    </div>
  </div>
</body>
</html>
